export SLACK_TOKEN="xo123"
export MEETUP_API_KEY="abc123"
export MEETUP_GROUP_ID="123"

# http://www.meetup.com/<UrlName>/events/<EventId>/
export MEETUP_GROUP_URLNAME="UrlName"

export DASHBOT_API_KEY="abc123"
export WUNDERGROUND_API_KEY="abc123"
export CHARTURL_API_KEY="abc123"
